*{
    margin: 0%;
    padding: 0%;
    z-index: -1;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* First Section */
.first{
    background: #a09999;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.tittle{
    text-align: center;
    padding-top: 50vh;
    color: #fff;
    font-size: larger;
}


/* Hamburger Menu */
#sideNav{
    width: 300px;
    height: 100vh;
    position: fixed;
    right: -300px;
    top: 0px;
    background: #505050;
    transition: transform 0.5s ease-in-out;
    z-index: 1;
}
#sideNav ul li{
    display: block;
    margin: 60px 30px;
}
#sideNav ul li a{
    text-decoration: none;
    color: #fff;
}
#button{
    position: fixed;
    right: 100px;
    z-index: 2;
    width: 50px;
    height: 50px;
    top: 20px;
    right: 30px;
    background: #a09999;
    cursor: pointer;
}
#button img{
    width: 30px;
    margin-top: 10px;
}

br{
    background: #000;
    padding: 10px;
}
/* Toast Natifications */
#second-section{
    width: 100vw;
    height: 100vh;
    align-items: center;
    background: #a09999;
    background-size: cover;
    background-position: center;
}
#second-section h1{
    color: #fff;
    font-size: xx-large;
    margin-left: 38.5vw;
    margin-bottom: 30px;
    padding-top: 50vh;
}
#btn{
    cursor: pointer;
    font-family: inherit;
    padding: 1rem;
    border-radius: 5px;
    border: none;
    background-color: #fff;
}
.toast{
    border-radius: 5px;
    background-color: #505050;
    color: #fff;
    margin: 1rem;
    padding: 2rem;
}
#container{
    bottom: 0%;
    right: 0%;
    position: fixed;
    z-index: 3;
}

/* AUTO WRITE TEXT */

#third-section{
    width: 100vw;
    height: 100vh;
    background: #a09999;
    background-size: cover;
    background-position: center;
}
#third-section h1{
    text-align: center;
    font-size: xx-large;
    color: #fff;
    padding-top: 50vh;
}
#txt{
    text-align: center;
    color: #411212;
}

/* POP-UP */

#fourth-section{
    background: #a09999;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
button{
    z-index: 3;
    color: #411212;
    padding: 1rem;
    border-radius: 5px;
    border: none;
    font-family: inherit;
    background-color: #fff;
    cursor: pointer;
}
button:hover{
    background-color: #411212;
    color: #fff;
}
.popup-container{
    position: relative;
    background-color: #fff;
    z-index : 4;
    position: inherit;
    align-items: center;
    justify-content: center;
    display: none;
}
.popup-container.active{
    z-index: 5;
    display: flex;
}
.open{
    display: flex;
}
.open.decline{
    display: none;
}
#popup{
    z-index: 4;
    background: #fff;
    width: 500px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    padding: 2rem;
    border-radius: 5px;
}
#popup button{
    background: #fff;
    color: #a09999;
    font-size: 1.5rem;
    top: 10px;
    right: 10px;
}
#popup h1{
    text-align: center;
}
#popup p{
    text-align: center;
}
#popup button{
    background-color: #fff;
    font-size: 2rem;
    margin-left: 400px;
}